
.app{
  height: 100vh;
  background-color: #92b4ed;
  display: flex;
  justify-content: space-around;
}
.tweet{

  border-radius: 10px;
  width: 50vmax;
  margin: 5vh;
  padding: 5vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;

}

.red{
  color: red;

}